.row{
    display: flex;
    flex-direction: column;
}

.row > h2 {
    text-align: left;
    margin-left: 20px;
}

.row__movies {
    display: flex;
    flex-direction: row;
    height: 200;
    width: 100%;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row__movies::-webkit-scrollbar{
    overflow: hidden;
}

.row__movies > img {
    object-fit: contain;
    height: 120px;
    margin-left: 10px;
    transition: transform 200ms;
}

.row__movies > img:hover {
    transform: scale(1.08);
}