.row {
  display: flex;
  flex-direction: column;
}

.row > h2 {
  text-align: left;
  margin: 5px 5px 5px 20px;
  color: #ccc;
}

.row__movies {
  display: flex;
  flex-direction: row;
  height: 200;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row__movies::-webkit-scrollbar {
  width: 5px;
  overflow-x: hidden;
}
