.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/7d42f78d-54dc-4246-80b6-0519241bec49/PH-en-20201116-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login > img {
  position: absolute;
  left: 40px;
  top: 40px;
  object-fit: contain;
  height: 50px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 500;
  width: 350px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

.login__formInputs {
  display: flex;
  flex-direction: column;
}

.login__formInputs > input {
  padding: 10px 0;
  width: 300px;
  margin-bottom: 13px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #e8f0e8;
  text-indent: 10px;
}

.login__formInputs > button {
  background-color: #e50914;
  color: #fff;
  padding: 13px 0;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.login__formGoogle {
  display: flex;
  align-items: center;
  color: gray;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.login__formGoogle > img {
  object-fit: contain;
  height: 20px;
  margin-right: 10px;
}

.login__formSIgnup {
  color: gray;
}

.login__formSIgnup > p > span {
  color: #fff;
  cursor: pointer;
}
